<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  
<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 19:23:33 GMT -->
<head>
    
    <title>Nutriworkouts</title>
    <link rel="apple-touch-icon" href="../../../app-assets/images/favicon/apple-touch-icon-152x152.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../../app-assets/images/favicon/favicon-32x32.png">
    <%- include styles %>
    <!-- END: Custom CSS-->
  </head>
  <!-- END: Head-->
  <body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 2-columns  " data-open="click" data-menu="vertical-modern-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
<%- include header %>
    <!-- END: Header-->



    <!-- BEGIN: SideNav-->
<%- include navbar%>
    <!-- END: SideNav-->

    <!-- BEGIN: Page Main-->
    <div id="main">
            <div class="row">
                    <form id="uploadForm"
                     name="uploadForm" novalidate>
                  <input type="file" name="userPhoto" id ="userPhoto" />
               
               <input type="submit" value="submit"/>
               </form>
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-header">
                                    <h4 class="card-title">Contacts Advisor</h4>
                                </div>
                                
                                <ul class="stepper linear" id="linearStepper">
                                    <li class="step active">
                                            <form id="upfile">
                                        <div class="step-title waves-effect">Step 1</div>
                                        
                                        <div class="step-content">
                                                <div id="file-upload" class="section">
                                                        <!--Default version-->
                                                        <div class="row section">
                                                          <div class="col s12 m4 l3">
                                                            <p>Upload your file (PDF OR DOC) for analysis* </p>
                                                          </div>
                                                          <div class="col s12 m8 l9">
                                                           
                                                            <input type="file"  accept=".pdf,.doc"  id="fileup" data-default-file="" name="fileup" Required/>
                                                          </div>
                                                        </div>
                                            <div class="step-actions">
                                                <div class="row">
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="red btn btn-reset" type="reset">
                                                            <i class="material-icons left">clear</i>Reset
                                                        </button>
                                                    </div>
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="btn btn-light previous-step" disabled>
                                                            <i class="material-icons left">arrow_back</i>
                                                            Prev
                                                        </button>
                                                    </div>
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="waves-effect waves dark btn btn-primary next-step"
                                                            type="submit" id='fileupsubmit'>
                                                            Next
                                                            <i class="material-icons right">arrow_forward</i>
                                                        </button>
                                                        
                                                    </div>
                                               
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </li>
                                    <li class="step">
                                        <div class="step-title waves-effect">Step 2</div>
                                        <div class="step-content">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="proposal1">Proposal Title: <span class="red-text">*</span></label>
                                                    <input type="text" class="validate" id="proposal1" name="proposal1" required>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="job1">Job Title: <span class="red-text">*</span></label>
                                                    <input type="text" class="validate" id="job1" name="job1" required>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="company1">Previous Company:</label>
                                                    <input type="text" class="validate" id="company1" name="company1">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="url1">Video Url:</label>
                                                    <input type="url" class="validate" id="url1">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="exp1">Experience: <span class="red-text">*</span></label>
                                                    <input type="text" class="validate" id="exp1" name="exp1">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <label for="desc1">Short Description: <span class="red-text">*</span></label>
                                                    <textarea name="desc" id="desc1" rows="4"
                                                        class="materialize-textarea"></textarea>
                                                </div>
                                            </div>
                                            <div class="step-actions">
                                                <div class="row">
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="red btn btn-reset" type="reset">
                                                            <i class="material-icons left">clear</i>Reset
                                                        </button>
                                                    </div>
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="btn btn-light previous-step">
                                                            <i class="material-icons left">arrow_back</i>
                                                            Prev
                                                        </button>
                                                    </div>
                                                    <div class="col m4 s12 mb-3">
                                                        <button class="waves-effect waves dark btn btn-primary next-step"
                                                            type="submit">
                                                            Next
                                                            <i class="material-icons right">arrow_forward</i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step">
                                        <div class="step-title waves-effect">Step 3</div>
                                        <div class="step-content">
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="eventName1">Event Name: <span class="red-text">*</span></label>
                                                    <input type="text" class="validate" id="eventName1" name="eventName1" required>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select>
                                                        <option value="Select" disabled selected>Select Event Type</option>
                                                        <option value="Wedding">Wedding</option>
                                                        <option value="Party">Party</option>
                                                        <option value="FundRaiser">Fund Raiser</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <select>
                                                        <option value="Select" disabled selected>Select Event Status</option>
                                                        <option value="Planning">Planning</option>
                                                        <option value="In Progress">In Progress</option>
                                                        <option value="Completed">Completed</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <select>
                                                        <option value="Select" disabled selected>Event Location</option>
                                                        <option value="New York">New York</option>
                                                        <option value="Queens">Queens</option>
                                                        <option value="Washington">Washington</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m6 s12">
                                                    <label for="Budget1">Event Budget: <span class="red-text">*</span></label>
                                                    <input type="Number" class="validate" id="Budget1" name="Budget1">
                                                </div>
                                                <div class="input-field col m6 s12">
                                                    <p> <label>Requirments</label></p>
                                                    <p> <label>
                                                            <input type="checkbox">
                                                            <span>Staffing</span>
                                                        </label></p>
                                                    <p><label>
                                                            <input type="checkbox">
                                                            <span>Catering</span>
                                                        </label></p>
                                                </div>
                                            </div>
                                            <div class="step-actions">
                                                <div class="row">
                                                    <div class="col m6 s12 mb-1">
                                                        <button class="red btn mr-1 btn-reset" type="reset">
                                                            <i class="material-icons">clear</i>
                                                            Reset
                                                        </button>
                                                    </div>
                                                    <div class="col m6 s12 mb-1">
                                                        <button class="waves-effect waves-dark btn btn-primary"
                                                            type="submit">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
   </div>


          

    <!-- END: Page Main-->

    <!-- Theme Customizer -->



    <!-- BEGIN: Footer-->

<%- include footer%>

    <%- include scripts %>
    <script type="text/javascript">
    $('#uploadForm').submit(function(e) {
    e.preventDefault();
    var form = $('#uploadForm')[0];
    console.log('form========================>',form);
    var data = new FormData(form);
    console.log("my data", data);
    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "/upload",
        data: data,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (res) {
            console.log(res);
            window.open(res.link);

        },
       
    });
});

$('#upfile').submit(function(e){
    e.preventDefault();
    console.log(($("#upfile").serialize()));
    console.log("File upload button hit");
        var formData=new FormData();
        
        formData.append('file', $('#fileup')[0].files[0]);

        console.log(file);
        // $.post("/upload", file, function(res){
        //     console.log(res)
        // })
})
    </script>
  </body>

<!-- Mirrored from pixinvent.com/materialize-material-design-admin-template/html/ltr/vertical-modern-menu-template/page-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Apr 2019 19:23:33 GMT -->
</html>